@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::selection {
    background-color: #0e5b54;
    color: #ffffff;
  }

  html {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer utilities {
  .scrollbar-slim {
    scrollbar-width: thin;
    scrollbar-color: #ddd8d0 transparent;
  }

  .scrollbar-slim::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar-slim::-webkit-scrollbar-thumb {
    background-color: #ddd8d0;
    border-radius: 9999px;
  }
}
